/* -------------------- Global ------------------------ */

.box.product {
	display: inline-block;
	text-align: center;
	height: 370px;
	width: 100%;
	.inner {
		background: #fff;
		border-radius: 10px;
		padding: 15px;
		position: relative;
		overflow: hidden;
		height: 100%;
		width: 100%;
	}
	.title {
		@include am-b;
		font-size: 46px;
		line-height: 46px;
		color: #bf1e1d;
	}

	.image {
		margin-top: 20px;
		transition: 0.5s;
		transform-origin: top center;
		text-align: center;
		display: block;
		img {
			width: auto;
			max-width: 100%;
			max-height: 180px;
			margin: auto;
		}
	}

	.part-bottom {
		margin-top: 15px;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		opacity: 1;
		transition: 0.5s;
		.price {
			@include f-m;
			font-size: 18px;
			color: #6d6d6d;
		}
		.circle {
			width: 13px;
			height: 13px;
			display: inline-block;
			margin: auto;
			background: #87d559;
			border-radius: 100%;
			margin-top: 10px;

			&.red {
				background: #C72D2B;
			}
		}

		.fast {
			@include f-b;
			font-size: 18px;
			color: #c8302c;
			margin-top: 5px;
		}
	}

	&:hover {
		.image {
			transform: scale(0.65);
		}
		.part-bottom {
			opacity: 0;
			bottom: -50px;
		}
		.part-add {
			bottom: 0;
			opacity: 1;
		}
	}

	.part-add {
		position: absolute;
		right: 0;
		left: 0;
		bottom: -100px;
		opacity: 0;

		padding: 5px;
		background: #fff;
		transition: 0.5s;
		select {
			@include f-r;
			font-size: 18px;
			color: #4f4f4f;
			
			border: none;
			border-radius: 10px;
			width: 100%;
			padding: 10px;
			outline: none;
			-webkit-appearance: none;
			background: url(../images/icons/ar-d-s.png) no-repeat left 10px center;
			background-color: #f3f3f3;
		}

		.price {
			@include f-b;
			font-size: 18px;
			color: #4f4f4f;
			margin-top: 10px;
			.number {
				color: #c8362c;
			}
		}

		.buttons {
			font-size: 0;
			margin-top: 15px;
			a {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				background: #c8332c;
				color: #fff;
				padding: 10px 5px;
				border-radius: 10px;
				margin: 1%;
				width: 48%;
				@include f-m;
				font-size: 16px;
				color: #fff;
				transition: 0.5s;
				.plus {
					color: #fab842;
				}

				&.watch {
					background: #fda82a;
				}

				&.added {
					background: #87d559;
				}
			}
		}
	}

	@media only screen and (max-width : $tw) {
		height: 300px;
		.inner {
			padding: 10px;
		}
		.title {
			font-size: 35px;
			line-height: 35px;
		}
		.part-bottom {
			.price {
				font-size: 16px;
			}
		}

		.part-add {
			.buttons {
				a {
					font-size: 14px;
				}
			}
		}
	}

	@media only screen and (max-width : 550px) {
		height: 320px;
	}
}



.loading:after {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f110";
    animation: fa-spin .75s linear infinite;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    color: #2c2c2c;
    z-index: 2;
}



.fruit-of-the-day {
	position: fixed;
	right: 10px;
	z-index: 9;
	top: 150px;
	transition: 0.5s;
	pointer-events: none;
	&.scrolled {
		top: 100px;
	}


	.button {
		cursor: pointer;
		position: relative;
		box-shadow: 0px 20px 75px 0px rgba(31, 31, 31, 0.15);
		display: inline-block;
		transform: scale(0.7);
		transform-origin: bottom right;
		pointer-events: auto;
		img {
			position: absolute;
			left: 50%;
			top: -55px;
			z-index: 1;
		}
		.cont {
			position: relative;
			z-index: 2;
			background-color: #f3ba51;
			background-image: url("../images/index/header/bg-fruit-button.jpg");
			background-repeat: no-repeat;
			background-position: right bottom;
			border-radius: 10px;
			padding: 15px 10px;
			text-align: center;
			@include f-bl;
			font-size: 25px;
			line-height: 25px;
			color: #fff;
		}
	}

	.popup {
		background: #fff;
		width: 340px;
		margin-top: 20px;
		border-radius: 10px;
		padding: 35px;

		pointer-events: none;

		background-image: url("../images/index/header/bg-fruit-popup.jpg");
		background-repeat: no-repeat;
		background-position: left bottom;	

		transform: scale(0.9);
		opacity: 0;
	
		transition: transform 0.5s, opacity 0.5s;		

		transition: 0.5s;
		visibility: hidden;

		&.open {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}

		.fruit {
			text-align: center;
			img {
				max-width: 100%;
			}
		}

		.list {
			margin-top: 25px;
			ul {
				display: flex;
				flex-wrap: wrap;
				
				li {
					width: 50%;
					@include f-r;
					font-size: 18px;
					color: #4f4f4f;
					padding-right: 25px;
					padding-left: 10px;
					background: url("../images/icons/check.png") no-repeat right center;
				}
			}
		}
	}

	@media only screen and (max-width : 1500px) {
		top: 135px;
		&.scrolled {
			top: 75px;
		}
		.button {
			transform: scale(0.5);
		}
	}
	@media only screen and (max-width : 1200px) {
		display: none;
	}
}



@keyframes tossing {
  0% {transform: rotate(0deg);}
  15% {transform: rotate(-8deg);}
  30% {transform: rotate(8deg);}
  45% {transform: rotate(0deg);}
}

.tel-mobile {
	width: 45px;
	height: 45px;
	display: inline-block;
	background: #258F4D;
	border-radius: 100%;
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 999;
	box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.4);

	i {
	    color: #fff;
	    position: relative;
	    top: 11px;
	    right: 11px;
	    font-size: 25px;
	    animation-name: tossing;
	    animation-duration: 3.5s;
	    animation-iteration-count: infinite;
	}
  	display: none;
	@media only screen and (max-width : 1000px) {
		display: block;
	}
}
/* -------------------- Global ------------------------ */


/* ---------------------- header ---------------------- */
header {
	height: 80px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;

	transition: 0.5s;
	&.scrolled {
		box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2);

		.part-right {
			.logo {
				.image {
					transform-origin: 0 0;
					transform: scale(0.6);
					
				}
			}
		}
	}

	.header-inner {
		margin: auto;
		max-width: 1670px;
		padding: 10px;
		height: 100%;
		position: relative;
		z-index: 102;
	}

	.parts {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		
	}

	.part-right {
		.logo {
			position: relative;
			padding-right: 115px;
			display: block;
			.image {
				position: absolute;
				right: 0;
				top: -10px;
				transition: 0.25s;
				transform-origin: center center;
			}
		}
	}

	.part-left {
		display: flex;
		align-items: center;
		.icons {
			white-space: nowrap;
			.icon {
				display: inline-block;
				vertical-align: middle;
				margin: 0 20px;

				&.kashrut {
					position: relative;
					.popup {
						position: absolute;
						margin-top: 20px;
						left: 50%;
						transform: translateX(-50%);
						opacity: 0;
						transition: 0.5s;
						pointer-events: none;
						
					}

					&:hover {
						.popup {
							opacity: 1;
						}
					}
					
				}
			}
		}

		.sep {
			width: 3px;
			height: 40px;
			background: #4f4f4f;
			margin: 0 45px;
		}

		.cart {
			margin-right: 35px;
			@include f-m;
			font-size: 18px;
			color: #4f4f4f;
			white-space: nowrap;
			.icon, .number {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.menu-button {
			position: relative;
			padding-left: 55px;
		}
	}

	@media only screen and (max-width : $tw) {
		height: 60px;
		.part-right {
			.logo {
				padding-right: 65px;
				.image {
					transform: scale(1) !important;
					img {
						width: 55px;
					}
				}
				.text {
					img {
						width: 170px;
					}
				}
			}
		}

		.part-left {
			.icons {
				.icon {
					img {
						max-width: 130px;
					}
				}
			}
			.sep {
				margin: 0 25px;
				height: 20px;
			}

			.cart {
				margin-right: 15px;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		height: 45px;
		box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2);
		.part-right {
			.logo {
				padding-right: 40px;
				.image {
					top: -3px;
					right: -5px;
					img {
						width: 35px;
					}
				}
				.text {
					img {
						width: 140px;
					}
				}
			}
		}
		.part-left {
			.icons {
				display: none;
			}
			.sep {
				margin: 0 10px;
			}
			.cart {
				.icon {
					img {
						width: 20px;
					}
				}
			}
			.menu-button {
				transform: scale(0.7);
    			left: -17px;
   				top: -2px;
    			margin-right: -30px;
			}
		}
	}
}



header .cart {
	padding: 13px;
	position: relative;
	transition: 0.5s;
	
	&:hover {
		background: #f1f0f5 !important;
		.popup {
			visibility: visible;
			opacity: 1 !important;
		}
	}
	.popup {
		position: absolute;
		visibility: hidden;
		opacity: 0 !important;
		left: 0;
		top: 100%;
		width: 430px;
		z-index: 9;
		background: #f1f0f5;
		border-radius: 0 0 10px 10px;
		padding: 15px;
		padding-top: 40px;
		transition: opacity 0.5s;

		.products {
			max-height: 340px;
			overflow-y: scroll;
			padding-left: 15px;	
			.product {
				.image {
					width: 60px;
					margin-left: 20px;
				}
				display: flex;
				justify-content: space-between;
				@include f-r;
				font-size: 16px;
				color: #232323;

				margin-top: 25px;
				&:first-child {
					margin-top: 0;
				}
				.info {
					flex-grow: 1;
					padding-left: 10px;
					white-space: normal;
					text-align: right;
					.name {
						@include f-b;
						font-size: 16px;
					}
				}

				.price {
					@include f-b;
				}
			}
		}
		.total {
			@include f-b;
			font-size: 20px;
			color: #232323;
			text-align: center;
			margin-top: 10px;
		}
		.buttons {
			margin-left: 0;
			.button {
				display: inline-block;
				vertical-align: middle;
				width: 49%;
				position: relative;
				@include f-m;
				font-size: 17px;
				color: #fff;
				background: #C8302C;
				text-align: center;
				padding: 14px 10px;
				border: none;
				transition: 0.5s;
				margin-top: 25px;
				margin-left: 2%;
				cursor: pointer;
				border-radius: 10px;

				&.button-checkout {
					background: #F3BA51;
					color: #fff;
					margin-left: 0;
					&:hover {
						color: #fff;
					}
				}
				&:hover {
					//color: #F1F0F5;
				}
			}
		}
	}

	@media only screen and (max-width : $mw) {
		padding: 5px;

		.popup {
			width: 360px;
			left: -45px;
		}
	}
}
/* --------------------- /header ---------------------- */


/* --------------- Toggle button ---------------- */
.toggle-button {
	width: 45px;
	
	height: 45px;
	position: absolute;
	left: 0;
	top: 0-2px;

	z-index: 103;
	cursor: pointer;
	
	vertical-align: top;

	transition: 0.5s;
	
	border: 3px solid #4f4f4f;
	background: #f3ba51;
	border-radius: 3px;
	div {
		width:22px;
		height: 3px;
		background-color: #4f4f4f;
		position: absolute;
		border-radius: 2px;
		transition: top 0.5s, transform 1s, opacity 0.5s, width 0.5s;
	}

	.inner {
		display: inline-block;
		position: absolute;
		left: 5px;
    	top: 5px;
    	padding: 0;
	}

	div:nth-child(1) {
		top: 5px;
		left: 4px;
	}
	div:nth-child(2) {
		top: 13px;
		left: 4px
	}
	div:nth-child(3) {
		top: 21px;
		left: 4px
	}

	&.open {
		div:nth-child(1) {
			top: 13px;
			transform: rotate(45deg);
		}
		div:nth-child(2) {
			opacity: 0;
			width: 1px;
		}
		div:nth-child(3) {
			top: 13px;
			transform: rotate(-45deg);
		}
		div {
			//background-color: #fff !important
		}

	}
}
/* --------------- /Toggle button ---------------- */

/* --------------- Mobile menu ---------------- */
.mobile-menu-cont {
	direction: rtl;
	padding: 75px 50px;
	background: #f3ba51;
	position: absolute;
	top: 80px;
	@media only screen and (max-width : $tw) {
		top: 60px;
	}
	@media only screen and (max-width : $mw) {
		top: 45px;
		width: 100%;
	}

	width: 35%;
	
	z-index: 101;
	left: -36%;
	
	
	text-align: center;
	transition: 0.5s;
	opacity: 0;

	box-shadow: 14px 3px 14px -6px rgba(0,0,0,0.3);
	
	overflow: hidden;

	visibility: hidden;
	&:before {
		content: "";
		position: absolute;
		bottom: -50%;
		left: -10%;
		height: 100%;	
		width: 100%;
		background-color: #fbc258;
		border-radius: 100%;
		
	}
	&.open {
		opacity: 1;
		left: 0;
		visibility: visible;
	}
	.mobile-menu {
		display: inline-block;
		margin: auto;
		padding-top: 5px;
		width: 100%;
		> li {
			position: relative;
			padding: 10px 0;
			text-align: center;
			width: 100%;
			//border-bottom: 2px solid rgba(24,24,24, 0.25);
			a {
				transition: 0.5s;
				@include f-r;
				font-size: 30px;
				padding: 3px 10px;
				color: #fff;
				white-space: nowrap;
				text-transform: uppercase;
				&:hover {
					color: #c13b47;
				}
			}

			&.current_page_item, &.current-menu-item > a {
				color: #c13b47;	
			}
			.sub-menu {
				padding-top: 10px;
				padding-right: 15px;
				li {
					margin-top: 5px;
					position: relative;
					.open-arrow {
						top: 3px;
					}
					a {
						padding-right: 10px;
						font-size: 18px;
					}
				}
			}
		} 
		li.current-menu-item, li.current_page_item {
			>a {
				color: #c13b47;
				@include f-m;
			}
		} 
		.open-arrow {
			width: 30px;
			height: 30px;
			background: #ededed;
			border-radius: 100%;
			display: inline-block;
			color: #ca6c6c;	
			cursor: pointer;
			
			font-size: 14px;
			margin-right: 25px;
			position: absolute;
			top: 10px;

    		left: 0px;
			i,span {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				
				font-size: 20px;
				transition: 0.5s;
			}
		}

		.rotate {
			i,span {
				transform: translate(-50%,-50%) rotate(180deg);
		   		color: #cf0006;
			}
		  
		}


	}
}
/* --------------- /Mobile menu ---------------- */

/* ---------------------- Section top-slider ---------------------- */

@keyframes from-right {
	0%   { opacity: 0; right: -20px;}
  	100%  { opacity: 1; right: 0;}
}

@keyframes from-bottom {
	0%   { opacity: 0; bottom: -50px;}
  	100%  { opacity: 1; bottom: -30px;}
}

section.top-slider {
	height: 1000px;

	position: relative;
	overflow: visible;
	font-size: 0;

	.bg, .wave-grey {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 1910px;
		bottom: 0;
		z-index: 2;
	}

	.wave-grey {
		bottom: -300px;
		z-index: 1;
	}

	.morph {
		position: absolute;
		top: -300px;
    	right: -80px;
    	width: 50%;
    	transform: scaleX(1.25);
    	z-index: 3;
	}

	.woman {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
		width: 50%;

		img {
			position: relative;
			top: -35px;
			left: -35px;
			width: 100%;
		}
	}

	.section-inner {
		position: relative;
		z-index: 4;
		padding-top: 120px;
		.part-slider {
			.title {
				@include am-b;
				font-size: 111px;
				line-height: 111px;
				color: #fab842;
			}

			.subtitle {
				@include am-r;
				font-size: 80px;
				line-height: 80px;
				color: #fff;
			}

			.slider-products {
				margin-top: 35px;
				position: relative;
				display: inline-block;
				text-align: center;
				.bg-slider {
					position: relative;
					right: -150px;
				}
				
				.data {
					display: none;
				}
				.slide {
					position: absolute;
					right: 0;
					top: 35px;

					.image, .text {
						display: inline-block;
						vertical-align: bottom;	
					}

					.text {
						text-align: right;
						.line-1 {
							@include f-b;
							font-size: 16px;
							color: #fff;
							position: relative;
							opacity: 0;
						}
						.line-2 {
							@include f-r;
							font-size: 16px;
							color: #fff;
							margin-top: 5px;
							margin-bottom: 25px;
							position: relative;
							opacity: 0;
						}

						.button {
							display: inline-block;
							padding: 10px 10px;
							background: #fda82a;
							@include f-m;
							font-size: 16px;
							color: #fff;
							border-radius: 10px;
							transition: 0.5s;
							position: absolute;
							left: 0;
							bottom: -30px;
							opacity: 0;
						}
					}

					&.animated {
						.text {
							.line-1 {
								animation: from-right 1s forwards;
								animation-delay: 0.25s;
							}
							.line-2 {
								animation: from-right 1s forwards;
								animation-delay: 0.5s;
							}
							.button {
								animation: from-bottom 1s forwards;
								animation-delay: 0.75s;
							}
						}					
					}
				}

				.arrows {
					font-size: 35px;
					color: #fff;

					margin-top: -75px;
					position: relative;
					z-index: 3;
					div {
						display: inline-block;
						vertical-align: middle;
					}

					.sep {
						width: 4px;
						height: 15px;
						background: #fff;
						margin: 0 25px;
					}

					.arrow {
						cursor: pointer;
						transition: 0.5s;
						&:hover {
							color: #F3BA51;
						}
					}
				}
			}
		}

		.boxes {
			background: #fff;
			display: flex;
			justify-content: space-between;
			margin-top: 50px;
			padding: 35px;
			border-radius: 10px;
			.box {
				margin: 0 25px;
				white-space: nowrap;
				.icon, .info {
					display: inline-block;
					vertical-align: middle;
				}

				.info {
					padding-right: 15px;
					.line-1 {
						@include am-b;
						font-size: 35px;
						color: #4f4f4f;
					}
					.line-2 {
						@include f-r;
						font-size: 18px;
						color: #4f4f4f;
					}
				}
			}

			@media only screen and (max-width : $tw) {
				margin-top: 35px;
				padding: 15px;
				.box {
					margin: 0 15px;
					.icon {
						img {
							max-width: 50px;
						}
					}
					.info {
						padding-right: 15px;
						.line-1 {
							font-size: 30px;
						}
						.line-2 {
							font-size: 16px;
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width : $tw) {
		height: 830px;

		.morph {
			top: -206px;
   			right: -45px;
		}
		.section-inner {
			padding-top: 45px;
			.part-slider {
				.title {
					font-size: 90px;
					line-height: 90px;
				}

				.subtitle {
					font-size: 60px;
					line-height: 60px;
				}
			}

			
		}
	}

	@media only screen and (max-width : $mw) {
		height: 700px;
		.section-inner {
			.boxes {
				display: none;
			}
		}
	}

	@media only screen and (max-width : 700px) {
		height: 575px;
		.bg, .wave-grey {
			left: 35%;
		}
		.morph {
			top: -120px;
    		right: -115px;
    		width: 100%;
		}
		.woman {
			display: none;
		}
		.section-inner {
			padding-top: 15px;
			height: 100%;
			.part-slider {
				position: relative;
				height: 100%;
				.title {
					font-size: 60px;
					line-height: 60px;
					text-align: center;
				}

				.subtitle {
					font-size: 45px;
					line-height: 45px;
					text-align: center;
				}

				.slider-products {
					margin-top: 45px;
					width: 100%;
					.arrows {
						position: absolute;
						left: 5px;
						bottom: 20px;
					}
					.bg-slider {
						width: 475px;
    					top: -38px;
					}
					.slide {
						.image {
							img {
								max-height: 170px;
							}
						}

						.text {
							display: block;
							padding-right: 30px;
							margin-top: 15px;

							.button {
								left: auto;
								right: 25px;
							}
						}
					}
				}
			}
			
		}
	}

	@media only screen and (max-width : 590px) {
		.woman {	
			top: 115px;
		}
	}
}
/* --------------------- /Section top-slider ---------------------- */

/* ---------------------- Section cats-and-feedback ---------------------- */
section.cats-and-feedback {
	position: relative;
	z-index: 3;
	margin-top: 60px;
	padding-top: 60px;
	padding-bottom: 85px;
	overflow: visible;
	.decor-left {
		position: absolute;
		left: 0;
		top: 15%;
		width: 18%;
		img {
			width: 100%;
			position: relative;
		}
	}

	.decor-right {
		position: absolute;
		right: 0;
		top: 40%;

		width: 19%;
		img {
			position: relative;
			width: 100%;
		}
	}


	.parts {
		display: flex;
		.part {
			width: 50%;
		}
	}
	


	.part-feedback {
		padding-right: 13px;
		.inner {
			background-color: #fefefe;
			background-image: url("../images/index/feedback/bg.jpg");
			background-repeat: no-repeat;
			background-position: bottom left;
			border-radius: 10px;
			box-shadow: 0px 20px 75px 0px rgba(181, 181, 181, 0.35);

			position: relative;
			padding: 45px;

			.bubbles {
				position: absolute;
				top: -35px;
				left: 25%;
			}
			.part-top {
				text-align: center;
				.title {
					@include am-b;
					font-size: 60px;
					color: #4f4f4f;
				}

				.rating {
					img {
						display: inline-block;
						vertical-align: middle;
						margin: 10px;
					}
				}
			}

			.feedback {
				margin-top: 30px;
				.main {
					text-align: center;
					position: relative;
					.quote {
						position: absolute;
						right: -15px;
						top: -45px;
						@include f-b;
						font-size: 85px;
						color: #4f4f4f;
					}
					.txt {
						@include f-l;
						font-size: 28px;
						color: #4f4f4f;
					}

					.name {
						@include f-r;
						font-size: 18px;
						color: #4f4f4f;
						margin-top: 35px;
					}
				}

				.thumbs {
					display: flex;
					justify-content: center;
					align-items: flex-end;
					height: 120px;
					margin-top: 20px;
					.thumb {
						margin: 0 5px;
						width: 70px;
						height: 70px;
						border-radius: 5px;
						overflow: hidden;
						transition: 0.5s;
						cursor: pointer;
						filter: grayscale(100%);
						.data {
							display: none;
						}
						img {
							width: 100%;
						}

						&.active {
							filter: grayscale(0%);
							height: 120px;
							width: 120px;
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width : $tw) {
		margin-top: 30px;
		padding-top: 30px;
		.parts {
			flex-wrap: wrap;
			.part {
				width: 100%;
			}
		}

		.part-feedback {
			padding-right: 0px;
			margin-top: 75px;
		}
	}

	@media only screen and (max-width : 700px) {
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 60px;

		.decor-left {
			top: 25%;
		}

		.decor-right {
		    top: 87%;
		}

		.part-feedback {
			.inner {
				padding: 15px;
				padding-top: 55px;
				.part-top {
					.title {
						font-size: 45px;
						margin-bottom: 25px;
					}
				}

				.feedback {
					.main {
						.quote {
							font-size: 55px;
							right: -10px;
							top: -35px;
						}
						.txt {
							font-size: 20px;
						}
						.name {
							margin-top: 15px;
						}
					}

					.thumbs {
						height: 100px;
						.thumb {
							height: 40px;
							width: 40px;

							&.active {
								height: 65px;
								width: 65px;
							}
						}
					}
				}
			}
		}
	}
}


.part-cats {
	padding-left: 13px;
	.boxes {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		font-size: 0;
		margin: -13px;
		.box {
			width: 50%;
			height: 290px;
			margin: 0;
			padding: 13px;

			display: block;
			position: relative;
			overflow: hidden;
			transition: 0.5s;

			.link {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: green;
				z-index: 4;
				opacity: 0;
				display: none;
			}
			.inner {
				overflow: hidden;
				position: relative;
				background: #c8302c;
				height: 100%;
				border-radius: 10px;
				padding: 15px 25px;
				padding-bottom: 25px;
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 35%;
					height: 350px;	
					width: 450px;
					border-radius: 100%;
					background: rgba(255,255,255,0.1);
					z-index: 1;
				}
			}
			&:nth-child(2) {
				.inner {
					background: #892331;
					&:after {
						right: auto;
						left: 35%;
					}
				}
			}
			&:nth-child(3) {
				.inner {
					background: #f46527;
					&:after {
						right: 50%;
						transform: translateX(50%);
						top: 80%;
					}
				}
			}
			&:nth-child(4) {
				.inner {
					background: #f3ba51;
					&:after {
						right: 50%;
						transform: translateX(50%);
						top: auto;
						bottom: 70%;
					}
				}
			}
			.bg-img {
				position: absolute;
				right: 50%;
				top: 50%;
				transform: translateY(-50%);
				transition: 0.5s;
				z-index: 2;
			}
	
			.info {
				font-size: 24px;
				position: relative;
				top: 25%;
				//transform: translateY(-25px);
				transition: 0.5s;
				z-index: 2;
				width: 60%;
				.title {
					@include am-b;
					font-size: 45px;
					color: #fff;
					white-space: nowrap;
				}
				.subtitle {
					@include f-r;
					font-size: 16px;
					color: #fff;
					transition: 0.25s;
					position: absolute;
					top: 65px;
				}

				.products {
					opacity: 0;
					transition: 0.5s;
					transform: translateY(15px);
					.product {
						background: rgba(255,255,255,0.0);
						transition: 0.5s;
						padding: 0px 0px;
						border-radius: 5px;
						cursor: pointer;
						display: block;
						white-space: nowrap;
						.title, .price {
							@include f-m;
							font-size: 16px;
							color: #fff;

							display: inline-block;
							vertical-align: middle;
						}

						.price {
							border-right: 2px solid #fff;
							padding-right: 10px;
							margin-right: 3px;
							line-height: 14px;
							transition: 0.5s;
							position: relative;
							right: -15px;
							opacity: 0;
							transition: 0.5s;
							font-size: 13px;
						}

						&:hover {
							//background: rgba(255,255,255,0.1);

							.price {
								right: 0;
								opacity: 1;
							}
						}
					}
				}
			}

			&:hover {
				@media only screen and (min-width : 700px) {
					transform: translateY(-25px);
					.bg-img {
						right: 100%;
					}
					.info {
						top: 0;
						transform: translateY(0);
						.subtitle {
							opacity: 0;
							height: 0;
						}
						.products {
							opacity: 1;
							transform: translateY(0);
						}
					}
				}

			}
		}
	}

	@media only screen and (max-width : $tw) {
		padding-left: 0px;
	}
	@media only screen and (max-width : 700px) {
		.boxes {
			margin: -5px;
			.box {
				padding: 5px;
				height: 150px;
				.inner {
					padding: 15px;
				}
				.link {
					display: block;
				}
				.bg-img {
					opacity: 0.5;
				}
				.info {
					transform: translateY(-50%);
					top: 50%;
					.title {
						font-size: 33px;
					}
					.subtitle {
						font-size: 16px;
						display: none;
					}
					.products {
						display: none;
					}
				}
			}
		}
	}
}
/* --------------------- /Section cats-and-feedback ---------------------- */

.red-section {
	background-image: linear-gradient(to bottom, #c82c2c, #c83e2c);
	position: relative;
	padding-top: 140px;
	padding-bottom: 250px;
	.half-circle {
		position: absolute;
		top: -1px;
		left: 50%;
		transform: translateX(-50%);
	}

	.tut-1 {
		position: absolute;
		right: 15px;
		top: 90px;
		z-index: 2;
		filter: blur(2px);
	}
	.tut-2 {
		position: absolute;
		right: 20%;
		top: -20px;
		z-index: 2;
		filter: blur(1px);
	}

	.logo-part {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: -30px;
		z-index: 2;
	}

	@media only screen and (max-width : $tw) {
		padding-top: 90px;

		.logo-part{
			top: -10px;
			img {
				width: 90px;
			}
		}
		.tut-1 {
			img {
				width: 100px;
			}
		}
		.tut-2 {
			right: 15%;
			img {
				width: 130px;
			}
		}
	}
	@media only screen and (max-width : $mw) {
		padding-bottom: 55px;
	}
	@media only screen and (max-width : 700px) {
		padding-top: 75px;
		.logo-part{
			top: 0px;
			img {
				width: 70px;
			}
		}
		.tut-1 {
			img {
				width: 70px;
			}
		}
		.tut-2 {
			right: 15%;
			img {
				width: 70px;
			}
		}
	}

}

/* ---------------------- Section product-slider ---------------------- */
section.product-slider {
	padding: 45px 0;
	position: relative;
	z-index: 3;
	.section-inner {
		position: relative;
		z-index: 4;
	}
	.title {
		@include am-b;
		font-size: 60px;
		color: #fff;
		text-align: center;
	}

	.content {
		@include f-r;
		font-size: 18px;
		color: #fff;
		text-align: center;

	
		max-width: 975px;
		margin: auto;
		margin-top: 25px;
	}

	.slider {
		margin-top: 45px;
		padding: 0 60px;
		.owl-stage-outer {
			text-align: center;
		}
		.owl-nav {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -22px;
			left: -22px;
			pointer-events: none;
			.owl-prev, .owl-next {
				position: relative;
				height: 73px;
				width: 73px;
				pointer-events: auto;

				background-image: url("../images/icons/bg-dots-blue.png");
				.cont {
					height: 40px;
					width: 40px;
					background-color: #fdcb6e;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					border-radius: 5px;
					img{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
			.owl-prev {
				float: left;
			}


		}
	}

	@media only screen and (max-width : $tw) {
		.title {
			font-size: 50px;
			line-height: 60px;
		}
	}

	@media only screen and (max-width : $mw) {
		.slider {
			padding: 0 35px;

			.owl-nav {
				right: -29px;
				left: -29px;
				.owl-prev, .owl-next {
					transform: scale(0.7);
				}
			}	
		}
	}

	@media only screen and (max-width : 550px) {
		.title {
			font-size: 35px;
			line-height: 40px;
		}
		.content {
			font-size: 16px;
			margin-top: 20px;

		}
	}
}
/* --------------------- /Section product-slider ---------------------- */



/* ---------------------- Section home-bottom ---------------------- */
section.home-bottom {
	margin-top: 50px;
	padding-top: 50px;
	
	position: relative;
	overflow: visible;
	z-index: 2;

	.decor-right {
		position: absolute;
		right: -243px;
    	top: -242px;
    	width: 806px;
		z-index: 1;
	}
	
	.decor-left {
		position: absolute;
		left: -285px;
    	top: -138px;
    	width: 806px;
		z-index: 1;
	}

	@media only screen and (max-width : 1400px) {
		.decor-right {
			right: -500px;
		}
		.decor-left {
			left: -500px;
		}
	}
	.section-inner {
		position: relative;
		z-index: 3;
	}
	.parts {
		display: flex;
		.title {
			@include am-b;
			font-size: 60px;
			line-height: 65px;
			color: #fff;
			margin: 0;
		}
		.subtitle {
			@include f-r;
			font-size: 18px;
			color: #fff;
			margin-top: 20px;
		}
		.part {
			width: 24%;
			.inner {
				background: #fff;
				border-radius: 10px;
				text-align: center;
				padding: 20px;
				margin-top: 20px;
				position: relative;
				height: 390px;
			}
		}
		.part-right {
			img {
				max-width: 100%;
			}
			.button {
				position: absolute;
				height: 60px;
				width: 60px;
				bottom: -30px;
				left: 50%;
				transform: translateX(-50%);
				display: inline-block;
				background: #f46527;
				border-radius: 10px;

				img {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);

				}
			}
		}

		.part-middle {
			width: 44%;
			margin: 0 4%;
			text-align: center;

			.slider {
				background: #fff;
				border-radius: 10px;
				padding: 30px;
				margin-top: 20px;

				position: relative;
				height: 390px;
				.data {
					display: none;
				}
				&:before {
					content: "";
					position: absolute;
					
					bottom: -50px;
					right: -50px;
					
					height: 300px;
					width: 405px;
					background-image: url("../images/icons/bg-dots-blue.png");
					z-index: 1;
				}
				.slide {
					text-align: right;
					display: flex;
					flex-direction: row-reverse;

					position: relative;
					z-index: 2;
		
					.text {
						width: 50%;
						.title {
							@include am-b;
							font-size: 35px;
							color: #4f4f4f;
						}

						.content {
							@include f-r;
							font-size: 18px;
							color: #4f4f4f;
							margin-top: 35px;
						}

						ul {
							display: flex;
							flex-wrap: wrap;
							margin-top: 20px;
							li {
								width: 50%;
								@include f-r;
								font-size: 18px;
								color: #4f4f4f;
								padding-right: 25px;
								padding-left: 10px;
								background: url("../images/icons/check.png") no-repeat right center;
							}
						}
					}

					.image {
						width: 50%;
						text-align: left;
						position: relative;
						img {
							max-width: 100%;
						}
					}
				}

				.arrows {
					font-size: 35px;
					color: #fff;
					position: absolute;
					z-index: 3;
	
					background: #f46527;
					border-radius: 10px;

					bottom: -30px;
					left: 50%;
					transform: translateX(-50%);
					display: inline-block;

					padding: 10px;

					div {
						display: inline-block;
						vertical-align: middle;
					}

					.sep {
						width: 4px;
						height: 15px;
						background: #fff;
						margin: 0 25px;
					}

					.arrow {
						cursor: pointer;
						transition: 0.5s;
						&:hover {
							color: #F3BA51;
						}
					}
				}
			}
		}
		.part-left {
			align-self: flex-end;
			//padding-top: 75px;
			img {
				max-width: 130%;
				position: relative;
				left: 15%;
			}

			transition: 0.5s;
			&:hover {
				filter: drop-shadow(0px 0px 18px #F3B847);
			}
		}
	}

	@media only screen and (max-width : $tw) {
		margin-top: 25px;
		padding-top: 25px;
		.decor-left {
			top: -10px;
		}
		.parts {
			.title {
				font-size: 45px;
				line-height: 45px;
			}
			.subtitle {
				font-size: 16px;
				height: 44px;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		.parts {
			flex-wrap: wrap;
			.part {
				width: 100%;
			}

			.part-right {
				display: none;
			}

			.part-left {
				margin-top: 75px;
				text-align: center;

				img {
					max-width: 100%;
					left: 0;
				}
			}

		}
	}

	@media only screen and (max-width : 700px) {
		margin-top: 15px;
    	padding-top: 15px;


		.parts {
			.title {
				font-size: 35px;
    			line-height: 40px;
			}
			.part-middle {
				margin: 0 2%;
				.slider {
					.arrows {
						font-size: 25px;
						padding: 10px;
					}
				}

			}
		}
	}

	@media only screen and (max-width : 500px) {
	

		.decor-right {
			top: -140px;
			right: -324px;
    		width: 661px;
    		height: 424px;
		}
		
		.decor-left {
			position: absolute;
			left: -285px;
    		top: 96px;
   			width: 456px;
		}

		.parts {
			.part-middle {
				.slider {
					height: 350px;
					padding: 20px;
					.slide {
						display: block;
						.image {
							float: left;
							padding-right: 25px;
						}
						.text {
							width: 100%;
							.content {
								font-size: 16px;
								margin-top: 15px;
							}
						}
					}
				}
			}
		}
	}
}
/* --------------------- /Section home-bottom ---------------------- */

/* ---------------------- footer ---------------------- */
footer {
	background: #f3ba51;
	overflow: visible;
	position: relative;
	z-index: 3;
	.section-inner {
		position: relative;
		z-index: 3;
	}
	.bar-form {
		background-color: #fff;
		background: url("../images/index/footer/bg.jpg") no-repeat;
		background-size: 100% 100%;
		border-radius: 10px;
		position: relative;
		top: -80px;
		padding: 20px 5%;
		white-space: nowrap;

		.image, .content {
			display: inline-block;
			vertical-align: top;
		}

		.content {
			padding-right: 15px;
			color: #4f4f4f;
			white-space: normal;
			.title {
				@include am-b;
				font-size: 60px;
			}

			.subtitle {
				@include f-r;
				font-size: 18px;
				display: inline-block;

			}

			.wpcf7 {
				display: inline-block;
				position: relative;
				margin-right: 25px;
				input {
					border: none;
					background: #d3d3d3;
					border-radius: 5px;
					padding: 10px;
					@include f-m;
					font-size: 18px;
					color: #4f4f4f;
					width: auto;
					max-width: 300px;
					outline: none;
				}

				input[type="submit"] {
					position: absolute;
					left: 0;
					top: 0;
					padding-right: 25px;
					padding-left: 25px;
					cursor: pointer;

				}

				&:after {
					content: "";
					position: absolute;
					top: 5px;
    				left: -15px;
					height: 29px;	
					width: 29px;
					background: url("../images/icons/plane.png");
				}
			}
		}

		.message {
			@include f-r;
			font-size: 20px;
			text-align: center;
			margin-top: 10px;

			.fail {
				color: #bf1d1d;
			}

			.success {
				color: #87d559;
			}
		}

		@media only screen and (max-width : $tw) {
			.content {
				.subtitle {
					display: block;
					white-space: normal;
					padding-left: 100px;
				}

				.wpcf7 {
					margin-top: 25px;
					margin-right: 0;
				}
			}
		}

		@media only screen and (max-width : 600px) {
			padding: 15px;

			.image {
				img {
					width: 60px;
				}
			}

			.content {
				.title {
					font-size: 38px;
				}
				.subtitle {
					font-size: 16px;
				}

				.wpcf7 {
					position: relative;
					right: -75px;
				}
			}
		}
	}

	.cols {
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 17px;
        text-align: right;

        max-width: 1386px;
		padding: 0 10px;
		
		position: relative;
		top: -20px;
        padding-bottom: 50px;
		width: 100%;
		margin: auto;
		
		.col {
			margin: 0 10px;
			color: #4f4f4f;
			.title {
				@include f-m;
				font-size: 18px;
			}

			&.contact {
				.title {
					@include am-b;
					font-size: 60px;
				}
				.content {
					@include f-l;
					font-size: 28px;
				}

				.social {
					border-radius: 10px;
					background: #ffffff;
					padding: 5px;
					@include am-b;
					font-size: 35px;
					display: inline-block;
					margin-top: 20px;
					.text, .icons, a {
						display: inline-block;
						vertical-align: middle;
						margin: 5px;
					}
					a {
						height: 40px;
					}
				}
			}

			.content {
				@include f-r;
				font-size: 16px;
				margin-top: 25px;

				a {
					color: #4f4f4f;
					transition: 0.5s;
					&:hover {
						color: #c8302c;
					}
				}
				p,li {
					margin-top: 10px;
				}
			}

			@media only screen and (max-width : 1100px) {
				display: none;
				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        			display: block;
        		}
			}
			@media only screen and (max-width : 920px) {
				&:nth-child(4) {
					display: none;
				}
			}
			@media only screen and (max-width : 700px) {
				&:nth-child(3) {
					display: none;
				}
			}
			@media only screen and (max-width : 600px) {
				&:nth-child(2) {
					display: none;
				}
			}
		}
		@media only screen and (max-width : 600px) {
			justify-content: center;
			top: -45px;
			padding-bottom: 20px;
			.col {
				&.contact {
					text-align: center;
					.title {
						font-size: 45px;
					}
					.content {
						margin-top: 15px;
						font-size: 20px;
					}
				}
			}
		}
    }

    .part-bottom {
    	background: #fff;
    	display: flex;
    	flex-wrap: wrap;
    	align-items: center;
    	justify-content: center;
		
		margin-top: 150px;
		padding: 10px 0;

    	@include f-r;
    	font-size: 16px;
    	color: #4f4f4f;

    	div, p {
    		margin: 5px;
    		white-space: nowrap;
    	}

    	.copy {
    		margin-right: 20px;
    	}
    }

    .bg-bottom {
    	position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 1910px;
		bottom: 0;
		z-index: 2;
    }
	
	@media only screen and (max-width : 1000px) {
		.bg-bottom {
			left: 0;
			transform: none;
		}
	}
	@media only screen and (max-width : 700px) {
		.bg-bottom {
			left: -167px;
			height: 177px;
		}
	}
	@media only screen and (max-width : 500px) {
		.bg-bottom {
			left: -163px;
    		height: 190px;
		}
		.part-bottom {
		 	.sep {
		 		display: none;
		 	}
		 	.credit {
		 		width: 100%;
		 		text-align: center;
		 	}
		}
	}
    @media only screen and (max-width : 600px) {
    	.part-bottom {
    		margin-top: 10px;
    	}
    }
}
/* --------------------- /footer ---------------------- */